body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffebeb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d07575;
    padding: 15px 20px;
}

.header h1 {
    margin: 0;
    color: white;
}

.header-right a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.header-right a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex: 2;
    margin-right: 50px;
}

.right-section {
    flex: 1;
    background: #fff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.block {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 74%;
}

.block strong {
    display: block;
    margin-bottom: 5px;
}

.login-container {
    background: rgb(208, 113, 113);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1400px;
    text-align: center; 
    height: 600px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 30%;
    padding: 10px;
    align-content: space-around;
    margin: 10% 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 200px;
}

.login-container button {
    width: 20%;
    position: absolute;
    left: 200px;
    bottom:325px;
    padding: 10px;
    background: #2fc7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #0056b3;
}

/* LOGOUT BUTTON */
.logout-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: darkred;
}

/* SIGN-UP FORM */
.signup-container {
    background: rgb(208, 113, 113);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 20px auto; 
}

.signup-container h2 {
    margin-bottom: 20px;
}

.signup-container input {
    width: 90%;
    padding: 10px;
    margin: 10% 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-button {
    width: 90%;
    padding: 10px;
    background: #2fc7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button:hover {
    background: #0056b3;
}

p {
    margin-top: 10px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
